
static/js/travelrecorder-1c617-firebase-adminsdk-fyjsn-0fc3b50694.json
flask_session/
travel-recorder-21178-firebase-adminsdk-xg0w1-b97284987e.json
travelrecorder-1c617-firebase-adminsdk-fyjsn-0fc3b50694.json
loginapi.json
.idea/
__pycache__/
*.xml
*.env

