firebase-admin>=6.5.0
Flask>=3.0.2
requests>=2.16.0
Flask-Session>=0.8.0
Jinja2>=3.1.4
google-api-python-client>=2.127.0
google-auth>=2.29.0
google-auth-httplib2>=0.2.0
google-cloud-core>=2.4.1
google-cloud-firestore>=2.16.0
google-cloud-storage>=2.16.0
google-crc32c>=1.5.0
google-resumable-media>=2.7.0
googleapis-common-protos>=1.63.0
python-dotenv>=1.0.1