@charset "UTF-8";
body{
    margin:0;
    background: linear-gradient(to right, #004f80,#008080 );
    overflow-x: hidden; /*横スクロールバー隠す*/
    
}

.waves {
    position: fixed; /* 要素をページの固定位置に配置 */
    bottom: 0; /* ページの下端に配置 */
    left: 0; /* ページの左端に配置 */
    width: 100%; /* ページの幅いっぱいに広がる */
    height: 150px; /* 波の高さ */
    background: url('wave.png') repeat-x; /* 波の背景画像を設定し、水平方向に繰り返し */
    animation: wave-animation 15s linear infinite; /* 波のアニメーションを設定 */
    z-index: -1; /* 背景よりも下に配置する */
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  
.header{
 
    border-bottom:solid 1px  ivory;
    height:50px;
    margin-bottom: 100px;

 }

.menu{
    display: inline-block;
    margin-left: 25px;
   
    
}

 .title{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color:ivory;
   

}

h1{
    margin-left: 60px;
    
}

#goback{
    background-color: transparent; 
    border: none;
    color: ivory;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
 
}

  .container{
    display:flex;
    flex-direction: column;
    width:500px;
    margin: 0 auto;
    border:solid 1px ivory;

}


.bottom-section{
    display:flex;
    height:100%;
   
}

.left-half{
   display: flex;
   flex:1;
   background-color: teal;
   justify-content: center;
   align-items: center;
   height: 40px;
   border: solid 1px ivory;
   border-bottom:none ;
   border-left: none;
   
    
}


.top-section{
    padding-left: 25px;
    padding-top:20px;
    padding-bottom:10px;
}

.email ,.password{
    border: none; /* 枠を削除 */
    border-bottom: 1px solid ivory; /* 下線を追加 */
    background-color: transparent; /* 背景を透明にする */
    color: ivory; /* テキストの色を設定 */
    font-family: 'Courier New', Courier, monospace; /* フォントの設定 */
    font-size: large; /* フォントサイズの設定 */
    padding-left: 20px; /* 左側の余白を設定 */
    padding-right:30px;
    padding-top: 20px; /* 上側の余白を設定 */
    margin-bottom: 20px; /* テキストボックスの下に余白を設定 */
    width: 80%; /* 幅を設定 */
    outline: none; /* フォーカス時の枠を削除 */
    
}

.email #input-email,.password #input-pass{
    border: none;
    background-color: transparent;
    color: ivory; 
    font-family: 'Courier New','Courier New', Courier, monospace;
    outline:none;
    width: 100%;
}

#create-account{
    background-color: transparent; 
    border: none;
    color: ivory;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 5px 5px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    
}

#create-account:hover {
  transition-duration: 0.5s;
  color:rgb(178, 232, 229);
}
