@charset "UTF-8";

html {
   background: linear-gradient(to right, #004f80, #008080);
}

body {
   margin: 0;
   /*background: linear-gradient(to bottom, #004f80,#008080 );*/
   background: linear-gradient(to right, #004f80, #008080);
   /*background-color: teal;*/
   overflow-x: hidden;
   font-family: 'Courier New', Courier, monospace;
}

p {
   font-family: 'Courier New', Courier, monospace;
}

#header {
   border-bottom: solid 1px ivory;
   color: ivory;
   display: flex;
   flex-direction: row;
   margin: 0 auto;
   height: 50px;
}

#sub-title {
   margin-top: 15px;
   margin-left: 10px;
   font-size: 30px;
   padding-bottom: 20px;
}

#left-half {
   display: flex;
   flex: 1;
   justify-content: left;
   align-items: left;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   margin-left: 7px;
}


#right-half {
   display: flex;
   flex: 1;
   margin: 0 auto;
   justify-content: right;
   align-items: right;
   height: 100%;

}

#link-btn {
   margin-right: 10px;
}

#logout-btn {
   background-color: transparent;
   border: none;
   color: ivory;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   cursor: pointer;
   outline: none;
   margin-top: 15px;
   margin-right: 7px;
   margin-left: 4px;
}


#logout-btn:hover {
   transition-duration: 0.5s;
   color: rgb(178, 232, 229);
}


#container {
   display: flex;
   flex-direction: row;
   margin: 0 auto;
}

#searchstyling {
   color: ivory;
   font-weight: bold;
   background-color: transparent;
   height: 90vh;
   width: 32vw;
   overflow-y: scroll;
}

#searchform {
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#mapstyling {
   display: flex;
   flex: 4;
   justify-content: center;
   align-items: center;
}


#button-container {
   margin-left: 10px;
   margin-bottom: 10px;
}

#map {
   height: 100%;
   width: 100%;
}

.vertical-row {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   margin-left: 5px;
   margin-right: 5px;
   background-color: white;
   color: black;
}

.vertical-row th,
.vertical-row td {
   border: 1px solid black;
   padding: 8px;
   width: 27vw;
   overflow-wrap:break-word;
}

/* Ensure images do not exceed cell width */
#detail-table-pc .image-container img {
   max-width: 100%;
}

#detail-table-pc .image-container {
   text-align: center;
}

#detail-table-pc {
   width: 29vw;
}

tbody {
   display: flex;
   flex-direction: column;
}


table:hover {
   cursor: pointer;
}


th:hover,
td:hover {
   cursor: pointer;
}



/* プレビュー画像のスタイルを定義 */
.preview-image {
   width: 100px;
   /* 任意の幅 */
   height: auto;
   /* 自動で高さを調整 */
   margin: 5px;
   /* 画像間の余白 */
   display: inline-block;
   /* 横に並べる */
}

#image {
   padding: 10px 10px;
   color: #783535;
   border: black 1px solid;
   cursor: pointer;
}

input[type="file"] {
   display: none;
}

#preview-container {
   display: flex;
   flex-wrap: wrap;
}

.image-container .marker-image {
   max-width: 100%;
   height: auto;
}

.info-box {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.4);
   padding-top: 60px;
}

.info-box-content {
   background-color: #fefefe;
   margin: 5% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 600px;
}

.close-btn {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#share-link {
   padding: 8px 4px;
   width: 95%;
}

#right-half-phone {
   display: none;
}

#switch-btn-phone{
   display: none;
}



@media screen and (max-width:500px) {
   #container {
      display: block;
      margin: 0 auto;
      height: 80vh;
   }

   #mapstyling {
      bottom: 0;
      display: block;
      width: 100vw;
      height: 70vh;
      padding: 2vw;
      background-color: rgba(252, 252, 252, 0.544)
   }

   #searchstyling {
      height: 90vh;
      width: 100vw;
   }

   #map {
      height: 70vh;
      width: 96vw;
   }

   #detail-table-pc {
      width: 100vw;
   }

   .vertical-row th,
   .vertical-row td {
      width: 92vw;
   }

   #header {
      flex-wrap: wrap;
      height: fit-content;
   }

   #sub-title {
      font-size: 30px;
   }

   #right-half-phone {
      display: block;
      margin-left: 20px;
   }

   #email-and-logout {
      display: flex;
   }

   #logout-btn {
      margin-left: 20px;
      font-size: small;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   #right-half {
      display: none;
   }


   #link-btn {
      width: fit-content;
      margin-bottom: 20px;
   }

   #detail-table-pc{
      table-layout: fixed;
   }

   #switch-btn-phone{
      display: block;
      text-align: center;
      margin: 2vh 0;
   }

   #switch-btn-phone button{
      margin: 0 20px;
   }

   .invisible-element{
      display: none !important;
   }

   .visible-element{
      display: block;
   }

   #link-btn-phone{
      margin-bottom: 10px;
   }

}