

body {
   margin: 0;
   height:1200px;
   /*background: linear-gradient(to bottom, #004f80,#008080 );*/
   background-color: teal;
   overflow-x: hidden;
   font-family: 'Courier New', Courier, monospace;
}

p{
   font-family: 'Courier New', Courier, monospace;
}

#header {
   border-bottom: solid 1px ivory;
   color: ivory;
   display: flex;
   flex-direction: row;
   margin: 0 auto;
   height: 50px;
}

#sub-title{
   margin-top: 15px;
   margin-left:10px;
   font-size: 21px;
}

#left-half {
   display: flex;
   flex: 1;
   justify-content: left;
   align-items: left;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   margin-left: 7px;
}


#right-half {
   display: flex;
   flex: 1;
   margin: 0 auto;
   justify-content: right;
   align-items: right;
   height: 100%;

}

#link-btn{
   margin-right: 10px;
}

#logout-btn {
   background-color: transparent;
   border: none;
   color: ivory;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   cursor: pointer;
   outline: none;
   margin-top: 15px;
   margin-right: 7px;
   margin-left:4px;
}


#logout-btn:hover {
   transition-duration: 0.5s;
   color: rgb(178, 232, 229);
}


#container {
   display: flex;
   flex-direction: row;
   margin: 0 auto;
   height: 1200px;
}

#searchstyling {
   color: ivory;
   font-weight: bold;
   flex: 1;
   background-color:teal;

}

#searchform{
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom:10px;
}

#mapstyling {
   display: flex;
   flex: 4;
   justify-content: center;
   align-items: center;
   
}


#map {
   height: 100%;
   width: 100%;
}

.vertical-row {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   margin-left: 5px;
   margin-right: 5px;
   background-color: white;
   color: black;
 }
 
 .vertical-row th,
 .vertical-row td {
   border: 1px solid black;
   padding: 8px;
   
 }

 tbody{
   display:flex;
   flex-direction: column;
 }

 
table:hover {
   cursor: pointer;
 }
 

 th:hover, td:hover {
   cursor: pointer;
 }
 
 

/* プレビュー画像のスタイルを定義 */
.preview-image {
   width: 100px;  /* 任意の幅 */
   height: auto;  /* 自動で高さを調整 */
   margin: 5px;   /* 画像間の余白 */
   display: inline-block;  /* 横に並べる */
 }
 
#image{
   padding:10px 10px;
   color: #783535;
   border:black 1px solid;
   cursor: pointer;
}

 input[type="file"] {
   display: none;
}

 #preview-container {
   display: flex;
   flex-wrap: wrap;
 }
 