<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ChangePassword.css">
    <script src="../static/js/Authentication.js" defer type="module"></script>
    <title>TravelRecorder-ChangePassword</title>
</head>
<body>
    <h1>パスワード変更</h1>
    <div class="email">
        メールアドレス:
        <input type="email" id="inputEmail">
    </div>
    
    <button id="ChangePassword">確認メールを送信</button>

    <form action="/">
        <button type="submit">戻る</button>
    </form>
</body>
</html>