<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/TravelRecorderIcon.png">
    <link rel="stylesheet" href="../static/css/create-account.css">
    <script src="../static/js/authenthication.js" defer type="module"></script>
    <title>TravelRecorder-CreateAccount</title>
</head>

<body>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <div class="header">

        <div class="menu">
            <form action="/">
                <button id="goback" type="submit">LOGIN</button>
            </form>
        </div>


        <div class="title">
            <h1>Create Account</h1>
        </div>

    </div>




    <div class="container">

        <div class="top-section">

            <div class="email">
                New Mail Address:
                <input type="email" id="input-email">
            </div>

            <div class="password">
                New Password:
                <input type="password" id="input-pass">
            </div>

        </div>

        <div class="bottom-section">
            <div class="left-half">
                <div id="g-bordering">
                    <button id="create-account">アカウント登録</button>
                </div>
            </div>

        </div>

    </div>




</body>

</html>