<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/createAccount.css">
    <script src="../static/js/Authentication.js" defer type="module"></script>
    <title>TravelRecorder-CreateAccount</title>
</head>
<body>    
    <div class="header">
           
        <div class="menu">
            <form action="/">
                <button id="goback" type="submit">LOGIN</button>
            </form>
        </div>

          
        <div class="title">
            <h1>Create Account</h1>
        </div>
   
    </div>

  


    <div class="container">
            
        <div class="top-section">

            <div class="email">
                New Mail Address:
                <input type="email" id="inputEmail">
            </div>

            <div class="password">
                New Password:
                <input type="password" id="inputPass">
            </div>
            
        </div>   

        <div class="bottom-section">
            <div class="left-half">
                <div id="gBordering">
                    <button id="CreateAccount">アカウント登録</button>
                </div>
            </div>
    
        </div>

    </div>
    



</body>
</html>