<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../static/css/my-map.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/js/authenthication.js" defer type="module"></script>
  <script src="../static/js/table-sort.js" defer></script>
  <title>TravelRecorder</title>
</head>

<body>

  <div id="header">
    <div id="left-half">
      <div id="sub-title">
      TravelRecorder
      </div>
    
    </div>


      <div id="right-half">
        
      <button type="button" id="link-btn">マップを共有する</button>
      <p id="user_email">{{ session["user_email"] }}</p>
      <p id="user_id" style="display: none">{{ session["user_id"] }}</p>
      <form id="logout-form" action="/logout" method="post">
        <button id="logout-btn" type="submit">ログアウト</button>
      </form>
    </div>

  </div>



  <div id="container">

    <div id="searchstyling">
      <div id="searchform">
      <!-- 場所検索用のフォーム -->
      <form action="/my-map" method="POST">
        <input type="hidden" name="form_type" value="search_location">
        <label for="location">場所を検索：</label>
        <input type="text" name="location" id="location" placeholder="場所名">
        <input type="submit" value="Search">
      </form>

      </div>


      <!-- marker listを表示 april 6 Ian-->
      {% if session["marker_list"] %}
      <table id="detail-table-pc">
       
       
        {% for marker in session["marker_list"] %}
        <tr class="vertical-row" id="marker-row-{{ marker['locationid'] }}" onclick="centerMapOnMarker({{ marker['lat'] }}, {{ marker['lng'] }})">
          <th scope="row">{{ marker["label"] }}</th>
          <td>{{ marker["description"] }}</td>
          <td>{{ marker["date"] | get_date_time }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}

    </div>

    <div id="mapstyling">
      <!-- Googleマップを表示するためのdiv -->
      <div id="map"></div>
    </div>

  </div>

  <script>
      let mapParams = {
        lat: {{ lat }},
        lng: {{ lng }},
        zoom: 15,
        mapMarkers: {{ marker_list | tojson | safe }}
      };

  </script>
  <!-- Googleマップを操作するためのJavaScriptファイル -->
  <script src="../static/js/my-map.js"></script>


</body>

</html>